<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-1">
                <a class="navbar-brand" href="/">
                    <button class="btn btn-lg bg-dark text-white" type="button">Home</button>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarNav" class="collapse navbar-collapse">
                    {# SIGN UP FORM #}
                    <ul class="navbar-nav ml-auto">
                        {% if current_page != 'register' %}
                        <li class="nav-items">
                            <a class="nav-link btn btn-lg bg-dark text-white" href="{{ path('app_register') }}">Sign Up</a>
                        </li>
                        {% endif %}
                    </ul>
                    {# SING IN FORM #}
                    <ul class="navbar-nav ml-auto">
                        {% if current_page != 'login' %}
                        <li class="nav-items">
                            <a class="nav-link btn btn-lg bg-dark text-white" href="{{ path('app_login') }}">Sign In</a>
                        </li>
                        {% endif %}
                    </ul>
                    {# LOGOUT #}
                    <ul class="navbar-nav">
                        {% if app.user %}
                        <li class="nav-items">
                            <a class="nav-link btn btn-lg bg-dark text-white"href="{{ path('app_logout') }}">Logout</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
